
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 2.5rem;
    color: #ED9121;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.future-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 20px ;
}

p {
    line-height: 1.6;
    color: #555;
}

strong {
    color: #ED9121;
    display: block;
}
